.idea/
*.iml
*.iws

__pycache__/
*.py[cod]
*.pyo

*.log
*.env
*.venv
*.local
*.DS_Store

Thumbs.db
desktop.ini

env/
venv/
ENV/
build/
dist/
*.egg-info/
.eggs/

*.~*
*.swp
*.swo
*.bak
*.tmp

.dockerignore

.idea/workspace.xml
.idea/vcs.xml
.idea/modules.xml

.pytest_cache/

.ipynb_checkpoints/

Pipfile.lock
poetry.lock

.mypy_cache/

.coverage
coverage.xml
*.cover
.hypothesis/

*.prof
*.dat
*.out

.vscode/
*.code-workspace
